/* ==========================================================================
	#pjPplImageBorder
========================================================================== */
[id^=pjWrapper] .pjPplThumbs .plThumbnail:hover .pjPplImageBorder { background: #1b6aac; }

/* ==========================================================================
	#Buttons
========================================================================== */
[id^=pjWrapper] .pjPplProductPanel .btn-default,
[id^=pjWrapper] .pjPplProductMeta .btn-default { color: #fff; }
[id^=pjWrapper] .btn-default,
[id^=pjWrapper] .pjPplBtnGroupType .btn-default.btn-primary { border-color: #1b6aac; color: #fff; 
	background: rgb(64,152,226);
	background: -moz-linear-gradient(top,  rgba(64,152,226,1) 0%, rgba(53,140,217,1) 60%, rgba(52,140,212,1) 67%, rgba(50,137,214,1) 77%, rgba(47,135,209,1) 97%, rgba(44,134,210,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,152,226,1)), color-stop(60%,rgba(53,140,217,1)), color-stop(67%,rgba(52,140,212,1)), color-stop(77%,rgba(50,137,214,1)), color-stop(97%,rgba(47,135,209,1)), color-stop(100%,rgba(44,134,210,1)));
	background: -webkit-linear-gradient(top,  rgba(64,152,226,1) 0%,rgba(53,140,217,1) 60%,rgba(52,140,212,1) 67%,rgba(50,137,214,1) 77%,rgba(47,135,209,1) 97%,rgba(44,134,210,1) 100%);
	background: -o-linear-gradient(top,  rgba(64,152,226,1) 0%,rgba(53,140,217,1) 60%,rgba(52,140,212,1) 67%,rgba(50,137,214,1) 77%,rgba(47,135,209,1) 97%,rgba(44,134,210,1) 100%);
	background: -ms-linear-gradient(top,  rgba(64,152,226,1) 0%,rgba(53,140,217,1) 60%,rgba(52,140,212,1) 67%,rgba(50,137,214,1) 77%,rgba(47,135,209,1) 97%,rgba(44,134,210,1) 100%);
	background: linear-gradient(to bottom,  rgba(64,152,226,1) 0%,rgba(53,140,217,1) 60%,rgba(52,140,212,1) 67%,rgba(50,137,214,1) 77%,rgba(47,135,209,1) 97%,rgba(44,134,210,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4098e2', endColorstr='#2c86d2',GradientType=0 );
}
[id^=pjWrapper] .btn-default:hover,
[id^=pjWrapper] .pjPplBtnGroupType .btn-default.btn-primary:hover { border-color: #1b6aac; color: #fff; 
	background: rgb(44,134,210);
	background: -moz-linear-gradient(top,  rgba(44,134,210,1) 0%, rgba(47,135,209,1) 3%, rgba(50,137,214,1) 23%, rgba(52,140,212,1) 33%, rgba(53,140,217,1) 40%, rgba(64,152,226,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,134,210,1)), color-stop(3%,rgba(47,135,209,1)), color-stop(23%,rgba(50,137,214,1)), color-stop(33%,rgba(52,140,212,1)), color-stop(40%,rgba(53,140,217,1)), color-stop(100%,rgba(64,152,226,1)));
	background: -webkit-linear-gradient(top,  rgba(44,134,210,1) 0%,rgba(47,135,209,1) 3%,rgba(50,137,214,1) 23%,rgba(52,140,212,1) 33%,rgba(53,140,217,1) 40%,rgba(64,152,226,1) 100%);
	background: -o-linear-gradient(top,  rgba(44,134,210,1) 0%,rgba(47,135,209,1) 3%,rgba(50,137,214,1) 23%,rgba(52,140,212,1) 33%,rgba(53,140,217,1) 40%,rgba(64,152,226,1) 100%);
	background: -ms-linear-gradient(top,  rgba(44,134,210,1) 0%,rgba(47,135,209,1) 3%,rgba(50,137,214,1) 23%,rgba(52,140,212,1) 33%,rgba(53,140,217,1) 40%,rgba(64,152,226,1) 100%);
	background: linear-gradient(to bottom,  rgba(44,134,210,1) 0%,rgba(47,135,209,1) 3%,rgba(50,137,214,1) 23%,rgba(52,140,212,1) 33%,rgba(53,140,217,1) 40%,rgba(64,152,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c86d2', endColorstr='#4098e2',GradientType=0 );
}

[id^=pjWrapper] .pjPplBtnNav,
[id^=pjWrapper] .pjPplHeading li a,
[id^=pjWrapper] .pjPplBtnAcc,
[id^=pjWrapper] .pjPplBtnGroupType .btn-default { color: #2f87d1; }

[id^=pjWrapper] .pjPplBtnGroupType .btn-default,
[id^=pjWrapper] .pjPplBtnNav { border-color: #bebabb; 
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,247,248,1) 60%, rgba(246,245,243,1) 70%, rgba(248,244,243,1) 80%, rgba(245,241,240,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(60%,rgba(249,247,248,1)), color-stop(70%,rgba(246,245,243,1)), color-stop(80%,rgba(248,244,243,1)), color-stop(100%,rgba(245,241,240,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,247,248,1) 60%,rgba(246,245,243,1) 70%,rgba(248,244,243,1) 80%,rgba(245,241,240,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,247,248,1) 60%,rgba(246,245,243,1) 70%,rgba(248,244,243,1) 80%,rgba(245,241,240,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,247,248,1) 60%,rgba(246,245,243,1) 70%,rgba(248,244,243,1) 80%,rgba(245,241,240,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(249,247,248,1) 60%,rgba(246,245,243,1) 70%,rgba(248,244,243,1) 80%,rgba(245,241,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f1f0',GradientType=0 );
}
[id^=pjWrapper] .pjPplBtnGroupType .btn-default:hover,
[id^=pjWrapper] .pjPplBtnNav:hover { border-color: #bebabb; color: #23527c; 
	background: rgb(245,241,240);
	background: -moz-linear-gradient(top,  rgba(245,241,240,1) 0%, rgba(248,244,243,1) 20%, rgba(246,245,243,1) 30%, rgba(249,247,248,1) 40%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,241,240,1)), color-stop(20%,rgba(248,244,243,1)), color-stop(30%,rgba(246,245,243,1)), color-stop(40%,rgba(249,247,248,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(245,241,240,1) 0%,rgba(248,244,243,1) 20%,rgba(246,245,243,1) 30%,rgba(249,247,248,1) 40%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(245,241,240,1) 0%,rgba(248,244,243,1) 20%,rgba(246,245,243,1) 30%,rgba(249,247,248,1) 40%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(245,241,240,1) 0%,rgba(248,244,243,1) 20%,rgba(246,245,243,1) 30%,rgba(249,247,248,1) 40%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(245,241,240,1) 0%,rgba(248,244,243,1) 20%,rgba(246,245,243,1) 30%,rgba(249,247,248,1) 40%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f1f0', endColorstr='#ffffff',GradientType=0 );
}
[id^=pjWrapper] .pjPplHeading li a:hover,
[id^=pjWrapper] .pjPplHeading li.pjPplBtnActive a { color: #23527c; }

/* ==========================================================================
	#pjPplHeading
========================================================================== */
[id^=pjWrapper] .pjPplHeading { background: #f7f7f7; }

/* ==========================================================================
	#pjPplFormSearch
========================================================================== */
[id^=pjWrapper] .pjPplFormSearch .form-control,
[id^=pjWrapper] .pjPplFormSearch .control-label { color: #6a7579; }

/* ==========================================================================
	#pjPplProduct
========================================================================== */
[id^=pjWrapper] .pjPplProduct p { color: #4d4f4e; }
[id^=pjWrapper] .pjPplProductTitle,
[id^=pjWrapper] .pjPplProductTitle a{ color: #2b87d0; }
[id^=pjWrapper] .pjPplProductPrice,
[id^=pjWrapper] .pjPplProductType { color: #56ae33; }
[id^=pjWrapper] .pjPplProductMeta li { color: #2b2c2e; }
[id^=pjWrapper] .pjPplProductAddress { color: #69747a; }

[id^=pjWrapper] .pjPplProduct:hover .pjPplProductTitle,
[id^=pjWrapper] .pjPplProduct:hover .pjPplProductAddress { color: #23527c; }

/* ==========================================================================
	#pjPplProductPanel
========================================================================== */
[id^=pjWrapper] .pjPplProductPanel .panel-heading { 
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}
[id^=pjWrapper] .pjPplProductPanel .panel-heading { color: #2d88cf; text-transform: uppercase; }
[id^=pjWrapper] .pjPplProductPanel .panel-body { color: #4c4d4f; }
[id^=pjWrapper] .pjPplProductPanel a { color: #54af30; }

/* ==========================================================================
	#pjPplFormAcc
========================================================================== */
[id^=pjWrapper] .pjPplFormAcc p { color: #6a7579; }
[id^=pjWrapper] .pjPplFormAccTitle { color: #2b87d0; }
[id^=pjWrapper] .pjPplFormAcc a { color: #2f87d1; }
[id^=pjWrapper] .pjPplFormAcc a:hover { color: #23527c; }